# Python Basics

Basic Python data types are: string, integer, float, list, tuple, dictionary, Boolean

In [16]:
String_Name = "JT"

Integer_Age = 28

Float_Height = 70.5

List_Fav_Teams = ["Steelers", "Cavaliers", "Guardians", "Ohio State"]

Tuple_Distance = (1.2,2.8,2.0,3.1,1.7,2.0)

Dictionary_Schooling = {"MBA": "WGU", "Bachelors": "Park University", "Associates": "Air University"}

Boolean_Male = True

Strings: Are designated with a ' ' or " "

In [17]:
S = "Brutus is a chocolate lab"

Strings can also be indexed using a [ ]

In [18]:
print(S[5])
print(S[0:22:2])
lab = S.index("lab")
print(lab)

s
Buu sacooae
22

Strings can be converted to upper or lower case using .upper( ) and .lower( )

In [19]:
U = S.upper()
C = S.lower()
print(U)
print(C)

BRUTUS IS A CHOCOLATE LAB
brutus is a chocolate lab

Integer and Float data types are whole numbers and decimal point numbers respectfully

In [20]:
Day = 15
Tomorrow = 16
Friday = 17
Time = 12.5
One_Hour = 13.5
Two_Hour = 14.5

Integer and Float data types can be compared. They can also be used with math operators

In [21]:
Compare_Day = Day > Tomorrow
Compare_Time = One_Hour != Two_Hour
print(Compare_Day)
print(Compare_Time)

Result = Day + Friday
Watch = One_Hour - Time
print(Result)
print(Watch)

False
True
32
1.0

Lists, designated with [ ], can be strings, integers, floats, Booleans, tuples, dictionaries, or a combination

In [22]:
Example = ["Apple", 1, 4.7, False, ("Yes", "No"), {"Name": "Man"}]
print(Example)

['Apple', 1, 4.7, False, ('Yes', 'No'), {'Name': 'Man'}]

Lists can be appended and popped

In [23]:
L = [1,11,2,22,3,33,4,44,5,55,6,66,7,77,8,88,9]
L.append(99)
print(L)
L.pop(8)
print(L)

[1, 11, 2, 22, 3, 33, 4, 44, 5, 55, 6, 66, 7, 77, 8, 88, 9, 99]
[1, 11, 2, 22, 3, 33, 4, 44, 55, 6, 66, 7, 77, 8, 88, 9, 99]

Lists can also be indexed and copied

In [24]:
print(L[1:4])

M = L.copy()
print(M)

[11, 2, 22]
[1, 11, 2, 22, 3, 33, 4, 44, 55, 6, 66, 7, 77, 8, 88, 9, 99]

Tuples are immutable and are designated with a ( )

In [26]:
Client1 = ("ABCD", 12345, "Lake Example, USA")
Client2 = ("ZYX", 9876, "Somewhere Else, USA")
print(Client1)

('ABCD', 12345, 'Lake Example, USA')

The dictionary data type utilizes a key:value pair within { }.
You can refer to the pairs by key name.

In [28]:
Player = {"Name": "Chase Claypool", "Team": "Pittsburgh Steelers", "Position": "Wide Receiver", "College": "Notre Dame"}
print(Player)
print(Player["College"])

{'Name': 'Chase Claypool', 'Team': 'Pittsburgh Steelers', 'Position': 'Wide Receiver', 'College': 'Notre Dame'}
Notre Dame

Boolean values are either True or False

In [29]:
A = 15
B = 50

if B > A:
    print("B is greater than A")
else:
    print("A is greater than B")

B is greater than A